<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Wechat Server</h1>
    <p>Welcome to Roam's Wechat Server</p>
  </body>
</html>
